@font-face {
    font-family: Oxygen;
    src: url(../fonts/Oxygen-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Oxygen;
    src: url(../fonts/Oxygen-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: Oxygen;
    src: url(../fonts/Oxygen-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: Oxigen, sans-serif;
}

table {
    margin: 1em;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    min-width: 500px;
    max-width: 1000px;
}

table td, table th {
    border: 1px solid black;
    padding: 5px;
    min-width: 50px;
}
